h1{
    color:rgba(153, 81, 120, 0.815);
    text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

nav{
  list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background: #214A3C;
}

nav a{
  padding: 24px;
  text-decoration: none;
  color:#2B193D;
}



  #first{
      background: #51B796;
  }
  #second{
      background: #59C9A5;
  }
  #third{
      background: #77D2B5;
  }

  #halfButton{
    height: 100%;
    margin: 0%;
    margin-block-start: 0%;
    margin-block-end: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    padding-top: 0%;
  }
  /* .sideButton{
    width: 50%;
    height: 100vh;
    text-align: center;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  } */
  #leftButton{
    background:#5c3c94;
  }
  #rightButton{
    background:#734bb8;
  }
  #leftButton, #rightButton {
    width: 100%;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: calc((100vh - 142.44px) / 2);
    padding-bottom: calc((100vh - 142.44px) / 2);
  }